/**
 * Split Pane Styles
 */

.split-pane {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.split-pane-horizontal {
  flex-direction: row;
}

.split-pane-vertical {
  flex-direction: column;
}

.split-pane-resizing {
  user-select: none;
  cursor: col-resize;
}

.split-pane-vertical.split-pane-resizing {
  cursor: row-resize;
}

.split-pane-pane {
  overflow: auto;
  flex-shrink: 0;
}

.split-pane-divider {
  position: relative;
  background: var(--color-borders-secondary, #ddd4a8);
  flex-shrink: 0;
  z-index: 10;
}

.split-pane-divider-horizontal {
  width: 4px;
  cursor: col-resize;
}

.split-pane-divider-vertical {
  height: 4px;
  cursor: row-resize;
}

.split-pane-divider:hover {
  background: var(--color-burgundy-primary, #5a1520);
}

.split-pane-divider-handle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--color-burgundy-primary, #5a1520);
  border-radius: 2px;
  opacity: 0;
  transition: opacity 0.2s;
}

.split-pane-divider-horizontal .split-pane-divider-handle {
  width: 2px;
  height: 40px;
}

.split-pane-divider-vertical .split-pane-divider-handle {
  width: 40px;
  height: 2px;
}

.split-pane-divider:hover .split-pane-divider-handle {
  opacity: 1;
}

.split-pane-divider:active {
  background: var(--color-burgundy-dark, #3d0e15);
}

